@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  --gray-color: #e4e4e4;
  --gray-two: #42424210;
  --black-one: #131313;
  --primary-color: #ed1d24;
  --secondary-color: #f7ba43;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Comic Neue', cursive;
}

img {
  width: 100%;
}
